*, html, body {
  font-family: "Microsoft YaHei";
}
/* 覆盖 element-ui 下拉选 el-select 样式 BEGIN */
.el-popper .popper__arrow, .el-popper .popper__arrow::after {
  display: none !important;
}
.el-popper[x-placement^=bottom] {
  margin-top: 5px !important;
}
.el-select-dropdown {
  border: 1px solid #c7d1d9;
  box-shadow: 0 2px 4px 0 #c7d1d9;
  border-radius: 2px;
}
.el-select-dropdown__list {
  border: none !important;
  padding: 0px;
}
.el-select-dropdown__item {
  height: 39px;
  line-height: 30px;
  text-align: center;
  font-size: 16px !important;
  border-bottom: 1px solid #f1f3f4;
  color: #5a6b78 !important;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #f1f3f4 !important;
}
.el-select-dropdown__item.selected {
  color: #5a6b78 !important;
  font-weight: normal !important;
  background-color: #f1f3f4 !important;
}
/* 覆盖 element-ui 下拉选 el-select 样式 END */

/* 覆盖 element-ui 涉及输入框 样式 BEGIN */
.el-input--small .el-input__inner {
  height: 32px;
  border: 1px solid #c7d1d9 !important;
  border-radius: 2px;
  font-size: 14px;
}
/* 覆盖 element-ui 涉及输入框 样式 END */

/* 覆盖 element-ui 分页 el-pagination 样式 BEGIN */
.el-pagination {
  font-weight: normal !important;
}
.el-pagination .btn-next,
.el-pagination .btn-prev,
.el-pagination .el-pager li {
  border:1px solid #d4d8dc !important;
  border-radius:3px !important;
  min-width:24px !important;
  height:24px !important;
  line-height: 21px !important;
  font-size:12px !important;
  color:#5a6b78 !important;
  margin-left: 9px !important;
  margin-right: 9px !important;
}
.el-pagination .el-pager li.active {
  min-width:24px !important;
  height:24px !important;
  background-color: #1d8fe1 !important;
  color: #fff !important;
}
.el-pagination__jump {
  color: #5a6b78;
}
.el-pagination__editor.el-input .el-input__inner {
  height: 24px !important;
  line-height: 24px !important;
  border: 1px solid #d4d8dc !important;
  border-radius: 3px !important;
  font-size: 12px !important;
  color:#5a6b78 !important;
}
/* 覆盖 element-ui 分页 el-pagination 样式 END */

/* 覆盖 element-ui 复选框 el-checkbox 样式 BEGIN */
.el-checkbox__input .el-checkbox__inner {
  background-color: white !important;
  border-color: #979797 !important;
  border-radius: 1px !important;
  width: 16px !important;
  height: 16px !important;
}
.el-checkbox__inner::after {
  width: 5px;
  height: 9px;
  position: absolute;
  left: 3px;
  top: 0px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  border: 3px solid #0d912c;
  border-left: 0;
  border-top: 0;
  -webkit-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  -webkit-transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms, -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  transition: transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms,-webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) 50ms;
  -webkit-transform-origin: center;
  transform-origin: center;
}
/* 覆盖 element-ui 复选框 el-checkbox 样式 END */

/* 处理切换浏览器时，选中的Tab会有边框[EGSCDT-2146] BEGIN */
.el-tabs__item:focus {
  box-shadow: none !important;
}
/* 处理切换浏览器时，选中的Tab会有边框[EGSCDT-2146] END */

/* 日期选择面板 BEGIN */
.date-panel {
  border: 1px solid #c7d1d9 !important;
  border-radius: 3px !important;
}
/* 日期选择面板 END */
