@font-face {
    font-family: "PingFangMedium";
    src: url("PingFangMedium.eot"); /* IE9 */
    src: url("PingFangMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("PingFangMedium.woff") format("woff"), /* chrome、firefox */
    url("PingFangMedium.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("PingFangMedium.svg#PingFangMedium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


